/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vagrant
.DS_Store
Thumbs.db
/coverage
*.sqlite
*.sqlite-journal
*.log
*.cache
.htaccess
/backup
bootstrap/cache/*
!.gitkeep
docker-compose.override.yml
docker-compose.override.yaml
.lando.yml
.lando.local.yml
